.header {
    padding:  0 0 35px;
}
.header__box {
}
.header__left {
}
.header__dscr {
    background-color: $mainColor;
    color: #fff;
    text-align: center;
    padding: 5px;
}
.header__imgW {
}
.header__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(120deg, $mainColor 50%, $mainColor2 50%);
}
.header__inner {
    width: 50%;
    text-align: center;
    padding: 5px 10px;
}
.header__inner:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__title {
    font-size: clamp(28px,5vw,56px);
    font-weight: 700;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__imgWko {
    max-width: 100%;
}
.header__right {
    padding: 10px;
}
.header__txt {
    margin: 10px 0 20px;
    line-height: 26px;
}
.header__ul {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 10px;
    li{
        position: relative;
        padding-left: 35px;
        &::before{
            content: '';
            position: absolute;
            background-image: url(../img/001.png);
            background-size: cover;
            width: 23px;
            height: 23px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.header__btnW {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 50px;
}
.header__btn {
    @include btn;
}
.header__btnM {
    @include btn;
    padding: 10px;
}